@model AspnetCoreMvcFull.Models.UserRegistration

@{
    Layout = "_BlankLayout";

    ViewData["Title"] = "Register Basic - Pages";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <form id="formAuthentication" class="mb-6" action="RegisterBasic" method="POST" enctype="multipart/form-data">
                        <div class="mb-6">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" asp-for="Username" class="form-control" id="username" placeholder="Enter your username" autofocus>
                        </div>

                        <div class="mb-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" asp-for="Email" class="form-control" id="email" placeholder="Enter your email">
                        </div>

                        <div class="mb-6 form-password-toggle">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" asp-for="Password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <div class="position-relative">
                            <select asp-for="Role" class="form-select">
                                <option value="">Select a role</option>
                                <option value="Company">Company</option>
                                <option value="Applicant">Applicant</option>
                            </select>
                        </div>

                        <div class="my-8">
                            <div class="form-check mb-0 ms-2">
                                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                                <label class="form-check-label" for="terms-conditions">
                                    I agree to
                                    <a href="javascript:void(0);">privacy policy & terms</a>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary d-grid w-100">Sign up</button>
                    </form>

                    <p class="text-center">
                        <span>Already have an account?</span>
                        <a href="/Auth/LoginBasic">
                            <span>Sign in instead</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>
